html {
    background-color: #39275B;
}

body {
    width: 800px;
    margin: 1em auto;
    background-color: white;
    border: 10px #D8C858 solid;
    padding: 0.5em;
}

hr {
    width: 90%;
    border: 1px solid #D8C858;
}

h1, h2 {
    font-family: sans-serif;
    text-align: center;
}

input[type="submit"] {
    font-size: 2em;
    width: 100%;
    padding: 0px;
}

input[type=text], input[type=password], input[type=radio], select{
    margin: 5px;
    padding:3px;
}
legend{
    font-size: 14pt;
}
.error {
    color: red;
    font-weight: bold;
}
dd.thankyou{
    margin-top: 5px;
    margin-bottom: 5px;
    padding:3px;
    font-size: 12pt;
}
dt.thankyou{
    font-weight: bold;

}